<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>COMP 177 | Dynamic routing mechanism design in faulty network </title>
        <link href = "{{ url_for('static', filename='index-style.css') }}" rel="stylesheet">
    </head>
    <body>
        <h1>COMP 177 - Computer Networking <br><br> Dynamic routing mechanism design in faulty network</h1><hr><br>
        <div id="option-container">
            <h3>Please select from the following options:</h3><br>
            <h3><strong>NOTE:</strong> <u>Node A is the <strong>Soucre Node</strong></u> and <u>Node H is the <strong>Destination Node</strong></u></h3>
            <!--TODO: Specify to users what's the source node and the destination node-->
            <div class="selection-option"><a href="/display-topology" target="_blank">Display Topology</a></div>
            <!--TODO: Specify to users the nodes that are available to be killed from the source node to the destination node-->
            <div class="selection-option">
                <form action="/kill-node" method="get" target="_blank">
                    <label for="node">Enter Node to Remove:</label>
                    <input type="text" id="node" name="node" placeholder="Example: D" maxlength="1" required>
                    <button type="submit">Remove Node</button>
                </form>
            </div>
            <div class="selection-option">
                <form action="/edge-removal" method="get" target="_blank">
                    <label for="node_1">Enter the Two Nodes with an Edge to Remove: </label>
                    <input type ="text" id="node_1" name="node_1" placeholder="Example: A" maxlength="1" required>
                    <input type="text" id="node_2" name="node_2" placeholder="Example: B" maxlength="1" required>
                    <button type="submit">Remove Edge</button>
                </form>
            </div>
            <!--TODO: Specify to users what's the source node and the destination node-->
            <div class="selection-option"><a href="/dijkstra" target="_blank">Display Shortest Path</a></div>
            <div class="selection-option"><a href="/reset" target="_blank">Restore Topology</a></div>
            <div class="selection-option"><a href="/exit">Exit</a></div>
        </div>
    </body>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</html>