<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>COMP 177 | Dynamic routing mechanism design in faulty network </title>
        <link href = "{{ url_for('static', filename='index-style.css') }}" rel="stylesheet">
    </head>
    <body>
        <h1>TESTING OUT THE HTML PAGE</h1>
    </body>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</html>